# Ignore everything
*

# Except these files
!.gitignore
!Makefile
!config/Makefile.depend
!etc/plugins/TFile/P100_TXNetFile.C
!etc/plugins/TSystem/P040_TXNetSystem.C
!net/netxng/Module.mk
!net/netxng/CMakeLists.txt
!net/netxng/inc/LinkDefs.h
!net/netxng/inc/TNetXNGFile.h
!net/netxng/inc/TNetXNGFileStager.h
!net/netxng/inc/TNetXNGSystem.h
!net/netxng/src/TNetXNGFileStager.cxx
!net/netxng/src/TNetXNGSystem.cxx


